Django==1.7.1
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.16
django-ace==1.0.1
django-registration-redux==1.1
kombu==3.0.23
pytz==2014.7
wsgiref==0.1.2
django-compressor==1.4
django-bower==5.0.1
git+https://github.com/pinax/django-mailer.git@752cd09b4ed46675449a2071484b39d823f3223e