@font-face {
    font-family: 'FixedsysExcelsior301Regular';
    src: url('fsex300-webfont.eot');
    src: url('fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fsex300-webfont.woff') format('woff'),
         url('fsex300-webfont.ttf') format('truetype'),
         url('fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:aliased;
    font-smooth:never;
}

body,body .container{
    font-family: FixedsysExcelsior301Regular, FreeMono, monospace;
    background-color: black;
    font-size: 1em;
}
.center {
    text-align:center;
}
.main h1,.main h2,.main h3,.main p,.main span,.main  div, .main h4{
    color:white;
}

.main p {
  font-size: 24px;
  margin: 0;
}
.about h4{
    font-size: 1.2em;
    text-decoration: underline;
}
.about p, .about pre {
    font-size: 1em;
}
.about pre{
    background-color: transparent;
    color:white;
    font-family: FixedsysExcelsior301Regular, FreeMono, monospace;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
background-color: transparent;
color:white;
}

#score_table td,#score_table th{
color:white;
}

.high_score {
    font-size:2em;
    text-shadow:0 0 .5em red;
}

.high_score {
    text-align:center;
}

.high_score td, .high_score th {
    text-align:right;
}

@keyframes blink {
    0% { color: red; }
    100% { color: black; }
}
@-webkit-keyframes blink {
    0% { color: red; }
    100% { color: black; }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}

img#p1_img,img#p2_img{
	height: 42px;
	width: 120px;
}
.float{
	float:left;
}
#player1,#player2,#vs_text{
	font-size: 30px;
}
#player1{
    text-align:left;
}
#player2{
    text-align:right;
}
#vs_text{
    text-align:center;
}
#players_divs{
	margin-left: auto ;
	margin-right: auto ;
    margin-bottom: 1em;
    text-align:center;
}
#playlist{
    white-space:nowrap;
}
#action_buttons{
    height: 40px;
	width: 470px ;
	margin-left: auto ;
	margin-right: auto ;
}

#the-game{
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    background-color:#222;
}
#p1_img,#p2_img{
background: grey;
}

#header{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em; 
	margin-left: auto ;
	margin-right: auto ;
}

#list_div{
/*border: 1px solid red; */
margin-left: 1em;
}

/*login*/
.form-signin .form-signin-heading, .form-signin .checkbox{
    color:black;
}

.scoreboard {
  background-image:url('/static/img/pytron.png');
  background-position: 50% 10em;
  background-repeat: no-repeat;
  min-height: 600px;
}

/* My Bots */
.select_bot {
  font-size: .7em;
}
