{% extends "base_anon.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container main about">

  <div id="header">
    <img src="{% static '/static/img/PyWars.jpg'%}"/><h1>Onapsis Challenge</h1>
          <h3>PyCon Argentina 2014</h3>
  </div>


  <h4>Mec&aacute;nica de juego</h4>

  <p>A. Los jugadores deberán suscribirse a la competencia ingresando en el sitio
  publicado para tal fin.</p>

  <p>B. Una vez registrados, los jugadores podr&aacute;n subir una estrategia, escrita en el
  lenguaje de programación Python, mediante la cual controlar&aacute;n las acciones de
  un tanque de guerra, siendo una competencia entre estrategias aut&oacute;nomas (sin interacci&oacute;n
  de un humano, planta o animal). La estrategia podrá ser actualizada en cualquier
  momento mientras dure la competencia.</p>

  <p>C. El juego consiste en 2 (dos) tanques de guerra, siendo el objetivo del juego
  destruir el tanque enemigo.</p>

  <p>D. Para cumplir el objetivo el jugador contar&aacute; con diversas acciones que prodr&aacute;
 realizar conforme pasen los turnos. Las acciones posibles son las siguientes:</p>
    <pre> 
      - Disparar: El jugador decide disparar contra el enemigo. De esta acci&oacute; se desprenden
      dos posibles resultados:
        * El enemigo es alcanzado: Le pegamos a nuestro enemigo, reduciendo su vida.
        * El tiro no impacta al enemigo.
      - Moverse: El tanque puede moverse una posici&oacute;n ya sea hacia adelante o hacia atr&aacute;s.
      - No hacer nada: Se rasca hasta el pr&oacute;ximo turno.
    </pre> 

  <p>E. Un tanque gana la partida si:</p>
    <pre>
      - Destruye a su oponente o
      - Tiene mas vida que su oponente cuando finaliza la cantidad de turnos de la partida.
    </pre>
 
  <h4>Interf&aacute;z</h4>
  <p>F. La posición inicial de los jugadores es sorteada al azar. El jugador debe implementar el método evaualte_turn que recibe los siguientes parámetros:</p>
    <pre>
      - Feedback: El resultado del turno anterior, en forma de diccionario. Las posibles claves son:
          * 'RESULT': Indica si el movimiento realizado anteriormente fue exito o fracaso. Sus valores son:
            ** 'SUCCESS': La acción fue correcta. Por ejemplo, este valor estará presente si en la acción anterior disparamos y pudimos
               darle a nuestro objetivo.
            ** 'FAILED': La acción no fue correcta o no pudo realizarse. Por ejemplo, si el tanque no pudo moverse, o si el disparo no dio 
               al objetivo.
          * 'MISSING': Representa la distancia en la que cae el misil con respecto a la posición del tanque enemigo. Los valores posibles son:
            ** 'HOT': El disparo cayó muy cerca del tanque.
            ** 'WARM': El disparo cayó a una mediana distancia del objetivo.
            ** 'COLD': El disparo cayó lejos. 
          * 'POSITION': Un punto de coordenadas en el eje x que representa la posición a la que llegó el tanque en caso de moverse. Por ejemplo: (5, 0).
      - Life: Vida del tanque. Un numero entre 0-100
    </pre>
   <p>G. Teniendo en cuenta el estado del juego como input, el método debería evaluar programáticamente la mejor estrategia para el tanque; para luego, devolver un diccionario indicando lo que va a hacer el tanque en su turno.
   El jugador cuenta con varias opciones:</p>
  <pre>
      - Move: Devuelve un diccionario de esta forma: {'ACTION': 'MOVE', 'WHERE': 1}, donde 1 es para moverser adelante y -1 para moverse hacia atras.
      - Shoot: Devuelve un diccionario de esta forma: {'ACTION': 'SHOOT', 'ANGLE': 35, 'VEL': 100} donde los valores de ANGLE deben estar entre 0 y 89; y VEL entre 0 y 100.
      - Stay: El jugador decide no hacer nada, por lo tanto, devuelve un diccionario vacio.
  </pre>
  <h4>Desafíos</h4>

  <p>H. Cada jugador podrá DESAFIAR a otros jugadores. Un desafío consiste en un enfrentamiento entre
  tanques. Una vez hecho el desafío, éste queda encolado en la lista de desafíos.</p>

  <p>I. Un jugador podrá tener sólo un desafío activo a la vez. En caso de querer desafiar a
  más de un oponente, deberá esperar a que el desafío que tiene pendiente sea resuelto por
  el sistema.</p>

  <p>J. Luego de un desafío entre los jugadores J1 y J2, el perdedor podrá volver a desafiar
  al ganador en cualquier momento. No así el ganador, que sólo podrá desafiar al perdedor
  una vez que este último haya actualizado su estrategia. Por ejemplo, suponga que J1
  desafía a J2 y como resultado J2 pierde, entonces:</p>
    <pre>   
      - J1 no podrá volver a desafiar a J2 hasta que J2 actualice su estrategia.
      - J2 podrá desafiar a J1 independientemente de si J1 actualizó o no su estrategia.
    </pre>
  <p>
  K. Una vez finalizado el desafío, los jugadores recibirán o no puntos de
  acuerdo al proceso descrito en la sección "Puntuación".
  </p>

  <h4>Puntuación</h4>

  <p>L. Luego de un desafío, en el que J1 desafía a J2, los resultados esperados
  con sus correspondientes puntuaciones son:</p>

  <pre>
  Resultado | Puntos J1   | Puntos J2
  -----------+-------------+---------
  Gana J1    |   +2pts     |    0pts
  Gana J2    |   -1pts     |   +1pts
  Empate     |    0pts     |    0pts
  </pre>


  <h4>Ganador de la competencia</h4>

  <p>M. Gana la competencia el jugador con mayor puntuación</p>

  <p>N. Los primeros 3 puestos serán ganadores de premios a designar por la organización
  de la competencia y serán informados al momento de iniciarse la misma.</p>

  <p>O. Si dos jugadores obtienen la misma cantidad de puntos, quedará primero en la tabla
  de posiciones aquel que lo haya logrado antes (según el tiempo del server que ejecuta
  las partidas).</p>


  <h4>Consideraciones Generales</h4>

  <pre>
  1. La competencia comenzará el día Jueves 31/10 a las 18hs y finalizará el
  día 4/11 a las 18hs hora de Argentina.

  2. El jurado se reserva el derecho a utilizar las herramientas que considere
  pertinentes para identificar violaciones a las reglas aquí descritas, reservándose
  el derecho a descalificar, sancionar con puntos o tomar cualquier otra medida que
  considere pertinente, sin dar explicaciones a los participantes involucrados en
  la violación a las reglas que fuere detectada.

  3. Onapsis se comunicará por email con los ganadores para coordinar la entrega
  de los premios.

  4. Si las personas premiadas no respondieran dicha notificación, se guardará
  el premio durante 10 días corridos. Pasado este tiempo, el premio quedará
  a disposición de Onapsis SRL.
  Que se diviertan!!
  </pre>
</div> <!-- /container -->

{% endblock %}
