{% load i18n staticfiles compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>PyTron Onapsis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
      <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="{% static 'css/game.css' %}">
      <link rel="stylesheet" href="{% static 'css/anon.css' %}">
    {% endcompress %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block content %}{% endblock %}

    {% compress js %}

    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    {% endcompress %}
  </body>
</html>
