{% load i18n %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>PyWars by Onapsis</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% compress css %}
      <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="{% static 'css/game.css' %}">
    {% block css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    {% block js %}{% endblock %}
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
      <![endif]-->
    {% endcompress %}
    {% block head %}{% endblock %}
</head>
  <body>
  {% if user.is_authenticated %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img id="img_menu" src="{% static '/static/img/PyWars_menu.png'%}"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li role="presentation" {% if tab == "arena" %}class="active"{% endif %}>
              <a href="/">Arena</a>
            </li>
            <li role="presentation"{% if tab == "score" %}class="active"{% endif %}>
              <a href="/scoreboard">Free Play</a>
            </li>
            <li role="presentation"{% if tab == "score" %}class="active"{% endif %}>
              <a href="/tournament">Tournament</a>
            </li>
            <li role="presentation"{% if tab == "my-matches" %}class="active"{% endif %}>
              <a href="/my-matches">My Matches</a>
            </li>
            <li role="presentation"{% if tab == "mybots" %}class="active"{% endif %}>
              <a href="/mybots">My bots</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Link</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User: <strong>{{ user }}</strong> &nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/accounts/logout">Logout</a></li>
                <li class="divider"></li>
                <li>
                  <a href="/about" {% if tab == "about" %}class="active"{% endif %}>About the game</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  {% else %}
    <div class="container">
      <form method="post" action="/accounts/login/" class="form-signin">
       {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        {% if form.non_field_errors %}
            <p style="color:red;">
            {{ form.non_field_errors.as_text }}
            </p>
        {% endif %}
        <input type="text" id="id_username" name="username" class="input-block-level" placeholder="Username">
        {% if form.username.errors %}
            <p style="color:red;">{{ form.username.errors.as_text }}</p>
        {% endif %}
        <input type="password" id="id_password" name="password" class="input-block-level" placeholder="Password">
        <input type="hidden" name="next" value="/" />
        {% if form.id_password.errors %}
            <p style="color:red;">{{ form.id_password.errors.as_text }}</p>
        {% endif %}
        <button class="btn btn-primary pull-right" type="submit">Sign in</button>
        <p></p>
        <p>{% trans "Not registered" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
      </form>
    </div> <!-- /container -->
  {% endif %}
  </body>
</html>
