{% load i18n %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Battleground Onapsis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% compress css %}
      <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="{% static 'css/game.css' %}">
      {% block css %}{% endblock %}
    {% endcompress %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {% compress js %}
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
      {% block js %}{% endblock %}
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
      <![endif]-->
    {% endcompress %}
    {% block head %}{% endblock %}
</head>
  <body>
  {% if user.is_authenticated %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Battleground</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as {{ user }}, <a href="/accounts/logout">logout</a>
            </p>
            <ul class="nav">
              <li {% if tab == "arena" %}class="active"{% endif %}><a href="/">Arena</a></li>
              <li {% if tab == "score" %}class="active"{% endif %}><a href="/scoreboard">Tournament</a></li>
              <li {% if tab == "mymatches" %}class="active"{% endif %}><a href="/my-matches">My Challenges</a></li>
              <li {% if tab == "mybots" %}class="active"{% endif %}><a href="/mybots">My bots</a></li>
              <li {% if tab == "about" %}class="active"{% endif %}><a href="/about">About the game</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  {% else %}
    <div class="container">
      <form method="post" action="/accounts/login/" class="form-signin">
       {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        {% if form.non_field_errors %}
            <p style="color:red;">
            {{ form.non_field_errors.as_text }}
            </p>
        {% endif %}
        <input type="text" id="id_username" name="username" class="input-block-level" placeholder="Username">
        {% if form.username.errors %}
            <p style="color:red;">{{ form.username.errors.as_text }}</p>
        {% endif %}
        <input type="password" id="id_password" name="password" class="input-block-level" placeholder="Password">
        <input type="hidden" name="next" value="/" />
        {% if form.id_password.errors %}
            <p style="color:red;">{{ form.id_password.errors.as_text }}</p>
        {% endif %}
        <button class="btn btn-primary pull-right" type="submit">Sign in</button>
        <p></p>
        <p>{% trans "Not registered" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
      </form>

    </div> <!-- /container -->
{% endif %}
  </body>
</html>
