{% load i18n staticfiles compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pywars by Onapsis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
      <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="{% static 'css/game.css' %}">
      <link rel="stylesheet" href="{% static 'css/anon.css' %}">
    {% endcompress %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block content %}{% endblock %}

    {% compress js %}
<a href="https://github.com/pguridi/pywars"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    {% endcompress %}
  </body>
</html>
