{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block js %}
  <script src="{% static '/static/js/custom.js' %}"></script>
  <script src="{% static '/static/phaser/build/phaser.js' %}"></script>
  <script src="{% static '/static/js/pywars.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid main">
        <div class="row-fluid">
            <div class="span4">
                <div>
                    <h3>Playlist</h3>
                    <div id="playlist"></div>
                </div>
            </div>
            <div class="span8">
                <div id="header">
                  <h1>Onapsis <img src="{% static '/static/img/pytron_logo.png' %}"/> Challenge</h1>
                </div>
                <div id="players_divs">
                        <img id="p1_img" src="/static/media/lightcycle-start-transparent.png" />
                        <span id="player1"></span>
                        <span id="vs_text"> vs</span>
                        <span id="player2"></span>
                        <img id="p2_img" src="/static/media/lightcycle-start-transparent-2.png" />
                </div>
                <div id=“game”></div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
