{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block js %}
  <script src="{% static '/static/js/custom.js' %}"></script>
  <script src="{% static '/static/phaser/build/phaser.js' %}"></script>
  <script src="{% static '/static/js/pywars/Player.js' %}"></script>
  <script src="{% static '/static/js/pywars/Level.js' %}"></script>
  <script type="text/javascript">
    // here goes the match turns
    var gameData = [];
    var gameTimer = null;

    function turnsTimer() {
        if (gameData['actions'].length > 0) {
            var turnAction = gameData['actions'].shift();
            console.log(turnAction['action']);
        } else {
            clearInterval(gameTimer);
        }
    }
    
    var players = [];
    var level = null;
    var hud = null;
        
    var game = null;
    
    function startGame(data) {
        gameData = data;
        game = new Phaser.Game(800, 600, Phaser.AUTO, 'game', { preload: preload, create: create, update: update });
        
        function preload()
        {
	        level = new Level(game);
            level.preload();

            for (var k in gameData['actions']) {
                playerData = gameData['actions'][k];
                if (playerData['action'] == 'new_player') {
                    var new_player = new Player(game, playerData['name'], playerData['position']);
                    new_player.preload();
                    players.push(new_player);
                }
            }
        }

        function create()
        {
            level.create();
            for (playerK in players) {
                players[playerK].create();
            }
            //hud.create();
        }

        function update() 
        {
            level.update();
            for (playerK in players) {
                players[playerK].update();
            }
        }
    }
    
    $(document).ready(function() {
        var jqxhr = $.get( "get_match", function(data) {
          if (data['success']) {
              startGame(data['data']);
              gameTimer = setInterval(function () {turnsTimer()}, 500);
          }
        })
          .fail(function() {
            console.log("Failed to get match");
          });
        
        
    });
</script>
{% endblock %}

{% block content %}
    <div class="container-fluid main">
        <div class="row-fluid">
            <div class="span4">
                <div>
                    <h3>Playlist</h3>
                    <div id="playlist"></div>
                </div>
            </div>
            <div class="span8">
                <div id="header">
                  <h1>Pywars<!--<img alt="logo" src="{% static '/static/img/logo.png' %}"/>--> Challenge</h1>
                </div>
                <div id="players_divs">
                    <!--<img id="p1_img" alt="tank1" src="/static/media/tank1.png" />-->
                    <span id="player1"></span>
                    <span id="vs_text"> vs</span>
                    <span id="player2"></span>
                    <!--<img id="p2_img" alt="tank2" src="/static/media/tank2.png" />-->
                </div>
            </div>
            <div class="span8">
                <div id="game"></div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
