{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="container">

      <h1>Tournament</h1>
      <p>This is the general scoreboard of lightcycle.</p>
{% if pending_challenges %}
* Pending challenges for {{ challenged_bots }}
{% endif%}
<table class="table table-striped">  
        <thead>  
          <tr>  
            <th>Position</th>  
            <th>Username</th>  
            <th>Points</th>
            <th>Action</th>
          </tr>  
        </thead>  
        <tbody>
            {% for bot in bots %}
            <tr>  
            <td>{{forloop.counter}}</td>  
            <td>{{ bot.owner }} </td>  
            <td>{{ bot.owner.score }}</td>
            <td>
            {% if bot.owner.user != user %}
                {% if pending_challenges %}
                <button type="button" class="btn btn-primary btn-xs" disabled="disabled">{% if bot in challenged_bots%}Pending{% else %}Challenge{% endif %}</button>
                {% else %}
                    <button type="button" class="btn btn-primary btn-xs" onclick="postBot({{bot.id}}, '/challenge')">Challenge</button>
                {% endif %}
            {% endif %}
            
            </td>
          </tr> 
                
            {% endfor %}
        </tbody>  
      </table>
    </div> <!-- /container -->


{% endblock %}
