{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="container">

      <h1>Tournament</h1>
      <p>This is the general scoreboard of lightcycle.</p>
<table class="table table-striped">  
        <thead>  
          <tr>  
            <th>Position</th>  
            <th>Username</th>  
            <th>Points</th>
            <th>Action</th>
          </tr>  
        </thead>  
        <tbody>
            {% for bot in bots %}
            <tr>  
            <td>{{forloop.counter}}</td>  
            <td>{{ bot.owner }} </td>  
            <td>{{ bot.points }}</td>
            <td>
            {% if bot.owner == user or pending_challengues %}
            <button type="button" class="btn btn-primary btn-xs" disabled="disabled">Challenge</button>
            {% else %}
                <button type="button" class="btn btn-primary btn-xs">Challenge</button>
            {% endif %}
            </td>
          </tr> 
                
            {% endfor %}
        </tbody>  
      </table>
    </div> <!-- /container -->


{% endblock %}
