{% extends "base.html" %}
{% load i18n %}

{% block content %}    

<div class="container">

    <h3>Write your bot here!</h3>
    
    <div id="editor">{{ bot.code }}</div>
<script type="text/javascript">
    function postBot(data, url)
    {
        $.ajax(
        {
            url: url,
            type: "POST",
            data: JSON.stringify({ code: data}),
            dataType: "json",
            async: false,
            contentType: "application/json"
        });
        location.reload();
    }
</script>
    
<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/python");
    editor.getSession().setTabSize(4);
    editor.setShowPrintMargin(true);
    editor.setHighlightActiveLine(true);
    editor.setShowInvisibles(true);
    editor.clearSelection();
    editor.moveCursorTo(0, 0);
    editor.getSession().setUseSoftTabs(true);
</script>
<p>Latest update: {{ bot.modification_date }}</p>
    
<p>
    <button type="button" class="btn btn-primary btn-xs" onclick="postBot(editor.getValue(), '/update_bot')">Save</button>
</p>


</div> <!-- /container -->
{% endblock %}
